.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 0px;
  box-sizing: border-box;
  position: relative;
}

.logo {
  margin-right: auto;
  margin-left: 50px;
  margin-top: 20px;
}

.logo img {
  height: 50px;
}

.divider {
  width: 50%;
  height: 1px;
  background-color: #fff;
  margin-top: 20px;
}

.navbar {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  padding: 20px 50px;
  backdrop-filter: blur(40px);
  box-sizing: border-box;
  position: relative;
}

.nav-links ul {
  list-style: none;
  display: flex;
  gap: 70px;
}

.nav-links ul li {
  position: relative;
}

.nav-links ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 5px;
  
}

.nav-links ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -30px;
  height: 3px;
  width: 100%;
  background-color: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

.nav-links ul li a:hover::after {
  transform: scaleX(1.1); 
  transform-origin: left; 
}

.bold-number {
  font-weight: bolder; 
  margin-right: 8px;
}
